

body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #306896;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  color: whitesmoke;

}

#wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: #306896;
  padding: 12px 32px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;

}